<%- include('../partials/header.ejs')  %> 

    <title>CSC Connections</title>

    <div id="connections_content">

        <h2><u>Connections</u></h2>

        <% if (connections.length) { %>

            
            <% categories.forEach(category => { %> 


            <h2><%= category %></h2>
            <% connections.forEach(connection => { %>  

                <% if (connection.topic == category) { %>
                
                    <a href="/connections/<%= connection.id %> "><%= connection.title %> </a>
                    <br>
                    <br>
                
                <% } %> 

           <% }); %> 

        <% });
        } else { %>
            <p>There are no connections to display</p>
        <% } %>

    </div>

    <%- include('../partials/footer.ejs') %> 